extends layout.pug

block mainContent
    article(id='orderOverlay')
        article(id='orderDetails')
            h2(class='OrderedFlowers') Order Details 

            p Full Name:
            input(id="NameInput", type="text", value="")
            p Shipping Address:
            input(id="AddressInput", type="text", value="")
            p Phone Number:
            input(id="PhoneInput", type="text", value="")

        
        p 
            p(id="PriceOutput") Final Cost: $0.00
            p 
            button(id="ConfirmOrder") Confirm Order
            p 
            button(id="cancelOrder") Cancel Order

    article(id='mainView')
        h2(class="headrow") Basket:
        table(class="ProductTables")
            tbody
                +basketRow(basketData)
        br
        button(id='EnactOrderFromBasketBTN', class="PrettyButton") Order Basket


mixin basketRow(basket)
    - const formatPrice = (price) => `$${parseFloat(price).toFixed(2)}`
    - const multiply = (price, quantity) => (price*quantity)
    - for (let i = 0; i < basket.length; i++)
        tr
            td(class='BasketItem')
                p= `Name: ${basket[i].Name}`
                p= `Quantity: ${basket[i].Quantity}`
                p= `Variant: ${basket[i].Variant}`
                p= `Price: ${formatPrice(multiply(basket[i].Price, basket[i].Quantity))}`