extends layout.pug

block mainContent
    //FOOD ORDER OVERLAY ------------------------------------------------
    article(id='foodOrderOverlay')
        article(id='foodOrderDetails')
            p Take Note: We do not Ship Food, it is a Pickup Order at our Cafe Location. 

            h2(class='OrderedFood') Order Details 

            table(class='orderDetailTable')
                tr 
                    td
                        label(for="foNameInput") Full Name:
                        input(id="foNameInput", type="text", value="")
                    td
                        label(for="foPhoneInput") Phone Number:
                        input(id="foPhoneInput", type="text", value="", placeholder="e.g., (123) 456-7890")            
            br
            p
            br

            table(class='orderDetailTable')
                tr 
                    td 
                        label(for="foCardNumInput") Card Number:
                        input(id="foCardNumInput", type="text", value="")
                    td
                        label(for="foExpiryDateInput") Expiry Date (MM/YY):
                        input(id="foExpiryDateInput", type="text", value="")
                    td 
                        label(for="foCVVInput") CVV (3 Digit Number):
                        input(id="foCVVInput", type="text", value="")
            br
            p
            br
            p 
            button(id="foConfirmOrder") Confirm Order
            p 
            button(id="foCancelOrder") Cancel Order

            p(id='food_ERRORBOX')
    
        article(id="foodItemOrdered")
            h2 Order has been Confirmed!!!
            button(id="ReturnBtn") Return

    //FLOWER ORDER OVERLAY ----------------------------------------------
    article(id='flowerOrderOverlay')
        article(id='flowerOrderDetails')
            p Take Note: We do not support shipping outside of the United States. 

            h2(class='OrderedFlowers') Order Details 

            table(class='orderDetailTable')
                tr 
                    td
                        label(for="flNameInput") Full Name:
                        input(id="flNameInput", type="text", value="")
                    td
                        label(for="flPhoneInput") Phone Number:
                        input(id="flPhoneInput", type="text", value="", placeholder="e.g., (123) 456-7890")
                tr 
                    td 
                        label(for="flAddressInput1") Address Line 1:
                        input(id="flAddressInput1", type="text", value="")
                    td 
                        label(for="flAddressInput2") Address Line 2:
                        input(id="flAddressInput2", type="text", value="", placeholder="e.g., Apt. 123")
                tr 
                    td 
                        label(for="flStateInput") State:
                        input(id="flStateInput", type="text", value="")
                    td 
                        label(for="flZipInput") Zipcode:
                        input(id="flZipInput", type="text", value="")
            
            br
            p
            br

            table(class='orderDetailTable')
                tr 
                    td 
                        label(for="flCardNumInput") Card Number:
                        input(id="flCardNumInput", type="text", value="")
                    td
                        label(for="flExpiryDateInput") Expiry Date (MM/YY):
                        input(id="flExpiryDateInput", type="text", value="")
                    td 
                        label(for="flCVVInput") CVV (3 Digit Number):
                        input(id="flCVVInput", type="text", value="")
            br
            p
            br
            p 
            button(id="flConfirmOrder", class="PrettyButton") Confirm Order
            p 
            button(id="flCancelOrder", class="PrettyButton") Cancel Order

            p(id='flower_ERRORBOX')


        article(id="flowerItemOrdered")
            h2 Order has been Confirmed!!!
            button(id="ReturnBtn") Return

    article(id='mainView')
        div(class='tabs')
            div(id="FlowerBasketTab", class="tab active") Flower Basket
            div(id="FoodBasketTab", class="tab") Food Basket


        div(id="FlowerBasketView", class="baskArticle active")
            - if (flowerBasket.length > 0)
                h2(class="headrow") Flower Basket:
                table(class="ProductTables border-none")
                    tbody
                        +basketRow(flowerBasket, "Flowers")
                br

                button(id='flEnactOrderFromBasketBTN', class="PrettyButton") Order Basket
            - else 
                h2(class="headrow") Your Basket is Empty, Go Add some Items to your Basket to Order Them!
        
        div(id="FoodBasketView", class="baskArticle")
            - if (foodBasket.length > 0)
                h2(class="headrow") Food Basket:
                table(class="ProductTables border-none")
                    tbody
                        +basketRow(foodBasket, "Food")
                br

                button(id='foEnactOrderFromBasketBTN', class="PrettyButton") Order Basket
            - else 
                h2(class="headrow") Your Basket is Empty, Go Add some Items to your Basket to Order Them!


mixin basketRow(basket, type)
    - const formatPrice = (price) => `$${parseFloat(price).toFixed(2)}`
    - for (let i = 0; i < basket.length; i++)
        tr(id=`${basket[i].IID}`)
            td(class='BasketItem')
                div(class='info-container')
                    p= `${basket[i].Name}`
                    p |
                    - if (basket[i].Variant)
                        p= `${basket[i].Variant}`
                        p |
                    p(id=`Price_${basket[i].IID}`)= `Price: ${formatPrice(basket[i].Price)}`

                div(class='quantity-container')
                    p(id=`Quant_${basket[i].IID}`, class='baskItemQuantity')= `Quantity: ${basket[i].Quantity}`
                    p
                    button(class="quantity-btn" data-action="decrease" data-iid=`${basket[i].IID}`, data-type=type) -
                    button(class="quantity-btn" data-action="increase" data-iid=`${basket[i].IID}`, data-type=type) +
                br
                button(class="ItemRemovalBTN PrettyButton", data-iid=basket[i].IID, data-type=type) Remove Item