extends layout.pug

block mainContent
    article(id='BasketAddOverlay')
        div(id='productDetails')
            div
                p Quantity:
                input(id="ProductQuantity", type="text", value="1")
                button(id="increaseQuantityButton") +
                button(id="decreaseQuantityButton") -
            
            p 
            p(id="PriceOutput") Final Cost: $0.00
            p 
            button(id="ConfirmAdd", data-iid='', data-name='', data-idrequired='', data-costper='') Add to Basket
            p 
            button(id="CancelAdd") Cancel

        div(id='productAdded')
            h2 Item has Been Added to your Basket!!!
            button(id="ReturnBtn") Return to the Cafe

    h2(class="headrow") Try Our Delicious Drinks! Made from our Home Grown Herbs and Spices!
    h2 This is Our Menu, Come Try Some at our location!
    
    h2(class="headrow") For the Classic Coffee Experience. . .
    table(class="ProductTables border-none")
        tbody 
            tr 
                td 
                    h3 American 
                    p  
                    p ~ Small - $3.68 ~ Medium - $6.99 ~ Large - $10.13 ~
                td
                    h3 Arabic 
                    p  
                    p ~ Small - $4.59 ~ Medium - $8.89 ~ Large - $12.69 ~
            tr
                td 
                    h3 Cappuchino
                    p  
                    p ~ Small - $6.39 ~ Medium - $9.59 ~ Large - $12.39 ~
                td 
                    h3 Caramel Macchiato 
                    p  
                    p ~ Small - $5.59 ~ Medium - $9.89 ~ Large - $13.69 ~
            tr 
                td 
                    h3 Caribean
                    p  
                    p ~ Small - $5.35 ~ Medium - $7.57 ~ Large - $9.69 ~
                td 
                    h3 Coffee Amaretto
                    p  
                    p ~ Small - $5.59 ~ Medium - $9.89 ~ Large - $13.69 ~
            tr
                td 
                    h3 Coffee Latte 
                    p  
                    p ~ Small - $4.59 ~ Medium - $8.89 ~ Large - $12.69 ~
                td 
                    h3 Expresso 
                    p  
                    p ~ Small - $3.59 ~ Medium - $6.89 ~ Large - $9.69 ~
            tr
                td 
                    h3 Expresso Panna 
                    p  
                    p ~ Small - $4.59 ~ Medium - $7.89 ~ Large - $10.69 ~
                td 
                    h3 Flat White 
                    p  
                    p ~ Small - $3.99 ~ Medium - $5.99 ~ Large - $8.99 ~
            tr 
                td 
                    h3 Hawaiian
                    p  
                    p ~ Small - $5.59 ~ Medium - $7.89 ~ Large - $9.69 ~
                td 
                    h3 Irish (Alchoholic)
                    p  
                    p ~ Small - $6.59 ~ Medium - $9.89 ~ Large - $13.69 ~
            tr 
                td 
                    h3 Macchiato
                    p  
                    p ~ Small - $5.59 ~ Medium - $9.89 ~ Large - $13.69 ~
                td 
                    h3 Milk Punch 
                    p  
                    p ~ Small - $7.69 ~ Medium - $10.89 ~ Large - $13.99 ~
            tr 
                td 
                    h3 Short 
                    p  
                    p ~ Small - $4.59 ~ Medium - $7.99 ~ Large - $11.69 ~
                td 
                    h3 El Submarino: Argentina Hot Cocoa (Coffee Optional)
                    p  
                    p ~ Small - $4.39 ~ Medium - $5.89 ~ Large - $7.69 ~
            tr 
                td 
                    h3 Viennese 
                    p  
                    p ~ Small - $7.59 ~ Medium - $11.89 ~ Large - $15.69 ~
                td 
                    h3 White Coffee 
                    p  
                    p ~ Small - $5.59 ~ Medium - $9.89 ~ Large - $13.69 ~
    
    h2(class="headrow") Or if you'd Rather, try our Specialized Drinks!
    table(class="ProductTables border-none")
        tbody 
            +productRow(DrinkList)

    h2(class="headrow") And if You Are Feeling a Bit Peckish, Try our Food!
    table(class="ProductTables border-none")
        tbody
            +productRow(FoodList)

mixin productRow(products)
    - const formatPrice = (price) => `$${parseFloat(price).toFixed(2)}`
    - for (let i = 0; i < products.length; i += 2)
        tr
            td(class='Product')
                img(class='ProductImage', src=products[i].PImageURL, alt="Image of Product")
                h3= products[i].PName
                p= formatPrice(products[i].PCost)
                br
                br
                - if (loggedInBool)
                    button(class="basketButton PrettyButton", data-product=products[i].PName, data-cost=products[i].PCost, data-iid=products[i].id, data-idrequired=`${products[i].IDRequired}`) Add to Basket
            if (i + 1 < products.length)
                td(class='Product')
                    img(class='ProductImage', src=products[i + 1].PImageURL, alt="Image of Product")
                    h3= products[i + 1].PName
                    p= formatPrice(products[i + 1].PCost)
                    br
                    br
                    - if (loggedInBool)
                        button(class="basketButton PrettyButton", data-product=products[i + 1].PName, data-cost=products[i + 1].PCost, data-iid=products[i + 1].id, data-idrequired=`${products[i + 1].IDRequired}`) Add to Basket