extends layout.pug

block mainContent
    article(id="orderOverlay")
        article(id="orderDetails")

            p(id="orderProductNameDisplay") You Are Viewing: 

            select(id="ProductOptions")
                option(value=1.26) Single Flowers - $1.26
                option(value=9.99) Bouquet - $9.99
                option(value=14.89) Bouquet in Vase - $14.89
                option(value=15.99) Fresh Flowers in Full Pot - $15.99

            div
                p Quantity:
                input(id="ProductQuantity", type="text", value="1")
                button(id="increaseQuantityButton") +
                button(id="decreaseQuantityButton") -

            p 
            p(id="PriceOutput") Final Cost: $0.00
            p 
            button(id="ConfirmAdd") Add to Basket
            p 
            button(id="CancelAdd") Cancel

        article(id="ItemOrdered")
            h2 Item has Been Added to your Basket!!!
            button(id="ReturnBtn") Return to the Flowers

    article(id="Products_View")
        h2 If You Want to Get a Gift for Your Loved Ones,
            |  I Can Think of No Better Gifts than Our Lovely Seasonal Flowers! Catered to you Year-Round! 
            |  Order Our Flowers online below! We Will Ship it Directly to your Front Door!

        
        article(id="FlowerShopInfo")
            p _____________
            p(class="FlowerShopInfo").
                For every Month, we have deals on our bouquettes and flower services, we change our flower rotation by month, so some flowers may be unavailable.
                Please refer to the list below to see which flowers are available during which months. 
                Prices are also included below, prices are prone to change depending on seasonal conditions and availability of listed flowers and inflation.
            p _____________
            p This Shop Page shows the Available Flowers during the current Month they are available for purchase. It will not show other flowers during subsequent months. 
            p _____________

        h2(class="headrow") CHECK OUT THIS MONTH'S FLOWER OPTIONS!
        table(class="ProductTables border-none")
            tbody
                +productRow(flowers)

mixin productRow(products)
    - const formatPrice = (price) => `$${parseFloat(price).toFixed(2)}`
    - for (let i = 0; i < products.length; i += 2)
        tr
            td(class='Product')
                img(class='ProductImage', src=products[i].PImageURL, alt="Image of Product")
                h3= products[i].PName
                p= formatPrice(products[i].PCostPerFlower)
                - if (loggedInBool)
                    button(class="orderButton", data-flower=products[i].PName, data-cost=products[i].PCostPerFlower, data-iid=products[i].id) Click Me to Order Your Own!
            if (i + 1 < products.length)
                td(class='Product')
                    img(class='ProductImage', src=products[i + 1].PImageURL, alt="Image of Product")
                    h3= products[i + 1].PName
                    p= formatPrice(products[i + 1].PCostPerFlower)
                    - if (loggedInBool)
                        button(class="orderButton", data-flower=products[i + 1].PName, data-cost=products[i + 1].PCostPerFlower, data-iid=products[i + 1].id) Click Me to Order Your Own!