extends layout

block mainContent
    h2 Profile
    article(class="profileStats")
        h3(class="profileHeader") Profile Info:
        h3(class="profileStatsText") Username: #{pageData.username}
        h3(class="profileStatsText") Email: #{pageData.email}
    
    br

    h3 Orders:

    article(id='mainView')
        div(class='tabs')
            div(id="FlowerBasketTab", class="tab active") Flower Orders
            div(id="FoodBasketTab", class="tab") Food Orders

    div(id="FlowerBasketView", class="baskArticle active")
        // Check if orders exist and iterate over them
        article(id="FlowerOrders")
            if (flowerOrders && flowerOrders.length > 0)
                    table(class='OrdersTable')
                        thead
                            tr
                                th Address
                                th State
                                th Zipcode
                                th Time Made
                                th
                        tbody
                            each order in flowerOrders
                                tr
                                    td= `${order.AddressInfo.AddressLine1} ${order.AddressInfo.AddressLine2}`
                                    td= order.AddressInfo.State
                                    td= order.AddressInfo.Zipcode
                                    td= order.TimeMade
                                    td
                                        a(class='VODButton', data-oid=order.OID, href=`/order/flower/${order.OID}`) View Order
            else 
                p No Flower Orders Found


    div(id="FoodBasketView", class="baskArticle")
        article(id="CafeOrders")
            if (cafeOrders && cafeOrders.length > 0)
                table(class='OrdersTable')
                    thead 
                        tr
                            th Final Price
                            th Time Made 
                            th
                    tbody 
                        each order in cafeOrders 
                            tr 
                                td= `$${order.FinalPrice}`
                                td= `${order.TimeMade}`
                                td
                                    a(class='VODButton', data-oid=order.OID, href=`/order/food/${order.OID}`) View Order

            else
                p No Cafe Orders Found.

    br
    br

    button(id="LogoutBTN", class="PrettyButton") Log Out